<mat-card>
	<mat-card-header>
		<mat-card-title>Web Links</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>
			Below is a list of external weblinks on this site, click one to view login details.
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button *ngIf="allowEditing" mat-button (click)="createNew()" color="primary">CREATE NEW LOGIN</button>
	</mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<mat-card *ngIf="openEditBox">
	<form (submit)="submitEdit()" action="#" [formGroup]="editSettingsForm">
		<mat-card-header>
			<mat-card-title>Link Editor</mat-card-title>
			<mat-card-subtitle *ngIf="newLink">Fill in details to add a new link</mat-card-subtitle>
			<mat-card-subtitle *ngIf="!newLink">Edit the details below</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field appearance="fill">
				<mat-label>Link Text</mat-label>
				<input formControlName="Text" matInput required>
			</mat-form-field>
			<br />
			<mat-form-field appearance="fill">
				<mat-label>Link URL</mat-label>
				<input formControlName="Location" matInput required>
			</mat-form-field>
			<br />
			<mat-form-field appearance="fill">
				<mat-label>Link Username</mat-label>
				<input formControlName="Username" matInput>
			</mat-form-field>
			<br />
			<mat-form-field appearance="fill">
				<mat-label>Link Password</mat-label>
				<input formControlName="Password" matInput [type]="hideEditorPassword ? 'password' : 'text'">
				<button mat-icon-button matSuffix type="button" (click)="hideEditorPassword = !hideEditorPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideEditorPassword">
					<mat-icon>{{hideEditorPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			<br />
		</mat-card-content>
		<mat-card-actions>
			<button type="submit" mat-button color="primary" [disabled]="!editSettingsForm.valid">SAVE</button>
			<button type="button" mat-button color="warn" (click)="cancelEdit()">CANCEL</button>
		</mat-card-actions>
	</form>
</mat-card>

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
	<div *ngFor="let l of links" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
		<mat-card>
			<mat-card-header>
				<mat-card-title><a [href]="l.Link.location">{{l.Link.text}}</a></mat-card-title>
			</mat-card-header>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>View Details</mat-panel-title>
				</mat-expansion-panel-header>
				<mat-form-field>
					<mat-label>Username</mat-label>
					<input matInput [value]="l.username">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Password</mat-label>
					<input matInput [value]="l.password">
				</mat-form-field>
				<br />
				<a [href]="l.Link.location" mat-button color="primary">VISIT</a>
			</mat-expansion-panel>

			<mat-card-actions>
				<button *ngIf="allowEditing" mat-button color="primary" (click)="editLink(l, l.Link)"><mat-icon>edit</mat-icon></button>
				<button *ngIf="allowEditing" mat-button color="warn" (click)="deleteLink(l)"><mat-icon>delete</mat-icon></button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
