<mat-toolbar color="primary">
	<button (click)="drawer.toggle()" mat-icon-button class="menu icon" aria-label="Toggle Menu">
		 <mat-icon>menu</mat-icon>
	</button>
	<span>{{title}}</span>
	<span class="topbar-spacer"></span>
	<span>{{user.first_name}} {{user.last_name}}</span>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav #drawer mode="side" [opened]="!mobileQuery.matches" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
		<mat-nav-list>
			<ng-container *ngFor="let link of sideBar.Links">
				<a mat-list-item *ngIf="link.text!='**DIVIDER**'" [href]="link.location">{{link.text}}</a>
				<mat-divider *ngIf="link.text=='**DIVIDER**'"></mat-divider>
			</ng-container>
			<a class="sidebar-button" routerLink="/app/settings/site/config" mat-raised-button color="primary" *ngIf="group.site_admin">Edit Sidebar</a>
			<a class="sidebar-button" routerLink="/app/dir" mat-stroked-button color="accent" *ngIf="group.site_admin">Browse Files</a>
			<mat-divider></mat-divider>
			<a mat-list-item (click)="logout()">Logout</a>
			<a routerLink="/app/settings/user/me" mat-list-item href="#">My Account</a>
			<a routerLink="/app/settings/admin" mat-list-item *ngIf="group.user_admin" href="#">Admin</a>
			<a routerLink="/app/settings/site" mat-list-item *ngIf="group.site_admin" href="#">Page & Site Settings</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
