<app-file-uploader [path]="nodes.node.Location+nodes.node.Title" (closed)="closeUploader($event)" *ngIf="showUpload"></app-file-uploader>
<mat-card>
	<mat-card-header>
		<mat-card-title>{{nodes.node.Title}}</mat-card-title>
		<mat-card-subtitle>{{nodes.node.Location}}{{nodes.node.Title}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-actions>
		<button mat-stroked-button (click)="location.back()" color="accent">BACK</button>
		<button mat-raised-button (click)="newDirDialog()" color="primary" *ngIf="allowEdits && !showPreviewer">NEW FOLDER</button>
		<button mat-raised-button (click)="showUploader()" *ngIf="!showUpload && allowEdits && !showPreviewer" color="primary">UPLOAD FILE</button>
		<a mat-raised-button *ngIf="showPreviewer" color="accent" [href]="previewerUrl" download>DOWNLOAD</a>
	</mat-card-actions>	
</mat-card>
<app-show-resource *ngIf="showPreviewer" [url]="previewerUrl" [ext]="previewerExt"></app-show-resource>
<mat-nav-list *ngIf="!showPreviewer">
	<div mat-subheader>Folders</div>
	<mat-list-item *ngFor="let node of dirs">
		<mat-icon href='{{this.router.url}}/{{node.Title}}' mat-list-icon *ngIf="node.Type=='dir'">folder</mat-icon>
		<mat-icon href='{{this.router.url}}/{{node.Title}}' mat-list-icon *ngIf="node.Type=='file'">note</mat-icon>
		<a mat-line href='{{this.router.url}}/{{node.Title}}'>{{node.Title}}</a>
		<button (click)="delete(node)" mat-mini-fab aria-label="Delete Dir" *ngIf="allowEdits"><mat-icon>delete</mat-icon></button>
	</mat-list-item>
	<div mat-subheader>Files</div>
	<mat-list-item *ngFor="let node of files">
		<mat-icon mat-list-icon >note</mat-icon>
		<a href='{{this.router.url}}/{{node.Title}}' mat-line>{{node.Title}}</a>
		<button *ngIf="allowEdits" (click)="delete(node)" mat-mini-fab aria-label="Delete File">
			<mat-icon>delete</mat-icon>
		</button>
	</mat-list-item>

</mat-nav-list>
