<mat-card>
	<mat-card-header>
		<mat-card-title>Side Bar</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<p>Below is a list of links in the sidebar. You can drag to re-order them. Or add a new link with the button below</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button (click)="openNewLinkForm()" color="primary" *ngIf="!showNewLinkDialog">ADD LINK</button>
		<button mat-button (click)="saveLinkChanges()" color="primary" *ngIf="linksChanged">SAVE CHANGES</button>
	</mat-card-actions>
</mat-card>

<mat-card *ngIf="showNewLinkDialog" class="editor-card">
	<form (submit)="submitNewLink()" action="#" [formGroup]="newLinkForm">
		<mat-card-header>
			<mat-card-title>Add Link</mat-card-title>
			<mat-card-subtitle>Add a new link to the sidebar. Provide a URL and a title:</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="new-link-form-container">
				<mat-form-field appearance="fill">
					<mat-label>Title</mat-label>
					<input matInput placeholder="Page Title" formControlName="Title" required>
				</mat-form-field>
				<br />
				<mat-form-field appearance="fill">
					<mat-label>URL</mat-label>
					<input matInput placeholder="/app/page/home" formControlName="Url" required>
				</mat-form-field>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button type="submit" mat-button color="primary" [disabled]="!newLinkForm.valid">ADD</button>
			<button type="button" (click)="cancelNewLink()" mat-button color="warn">CANCEL</button>
		</mat-card-actions>
	</form>
</mat-card>

<div cdkDropList class="sidebar-list" (cdkDropListDropped)="drop($event)">
	<div class="list-box" *ngFor="let link of links" cdkDrag>
		<div class="list-custom-placeholder" *cdkDragPlaceholder></div>
		<span>{{link.text}}</span>
		<p>{{link.location}}</p>
		<button (click)="removeLink(link)" mat-mini-fab aria-label="Delete Link"><mat-icon>delete</mat-icon></button>
	</div>
</div>
<mat-divider></mat-divider><br />
<mat-card>
	<form action="#" [formGroup]="siteNameGroup" (submit)="changeName()">
		<mat-card-header>
			<mat-card-title>Site Name</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>Change Site Name</p>
			<br />
			<mat-form-field appearance="fill">
				<mat-label>Site Title</mat-label>
				<input matInput placeholder="Site Title" formControlName="SiteTitle" required>
			</mat-form-field>
			<br />
		</mat-card-content>
		<mat-card-actions>
			<button mat-button type="submit" color="warning" [disabled]="!siteNameGroup.valid">Change Name</button>
			<button mat-button type="button" (click)="cancelNameChange()" color="primary">CANCEL</button>
		</mat-card-actions>
	</form>
</mat-card>

